@import "../src/assets/custom.css";
/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Open Sans', sans-serif; src: local('Arial');
    line-height: 1.5;
}

:root {
    --header-font:  'lemon';
    --sub-font: 'func' ;
    --nav-font: 'Open Sans', sans-serif;
    --green-gray: #556c72;
    --bright-green: #D2CA8C;
    --light-mint: #c0d5d1;
    --dark-mint: #1c2d2a;
    --beige: #DDD3C8;
    --dark-grey: #444545;
    --main-green: #84AC4C;
    --main-beige: #EDDCA4;
    --bioland-green: #008043;
    --main-dark-green: #487010;
    --light-grey: #e5e5e5;
    --lighter-grey: #f7f9fa;
  }
