<div class="overall-body">
<div class="header-main">Unsere Hofbewohner</div>
<div class="content-middle">
    <div class="xs12">
        
        <div class="xs6 green">
            <div class="overall-text">
                <div class="header">Hühner</div>
                Seit Ende diesen Jahres gibt es auf unserem Hof ein Hühnermobil, in welchem eine kleine Hühnerschar ein zu Hause gefunden hat. Der Vorteil der mobilen Hühnerhaltung gegenüber der normalen Freilandhaltung ist, dass der Grünauslauf vor dem Stall nicht überdüngt wird und der Parasitendruck für die Tiere geringer ist, da der Stall in regelmäßigen Abständen umgestellt wird. Außerdem haben die Hühner dadurch jedes Mal einen neuen frischen Grünauslauf, in dem sie sich nach Belieben austoben können.
Als Dank für diese Haltungsform legt jedes unserer Hühner fast jeden Tag ein Ei!

        </div>
        </div>
        <div class="xs6 white">
                <div class="animal-image chicken"></div>
            </div>
    </div>
    <div class="xs12">
            <div class="xs6 white">
                <!-- <div class="header-middle">Schweine</div> <br> -->
                <div class="animal-image pig"></div>
            </div>
            <div class="xs6 green">
                        <div class="overall-text">
                                        <div class="header">Schweine</div>
                                        Unsere Schweine kaufen wir als Ferkel von einem Biolandbetrieb aus der Region zu. Auf unserem Betrieb angekommen, erwartet die Schweine ein komfortabler Stall, welcher mit reichlich Stroh eingestreut ist. Außerdem haben unsere Schweine jederzeit die Möglichkeit ins freie zu gehen, das an unseren Ställen ein Auslauf angegliedert ist, welcher ebenfalls mit Stroh eingestreut ist. Hier haben die Tiere die Möglichkeit das Außenklima zu genießen. Zusätzlich bieten wir unseren Tieren im Auslauf frische Kleegrassilage an, welche wir von unsren Ackerflächen ernten. Zusätzlich zu dem Kleegras erhalten unsere Schweine eine Getreidemischung, welche wir auch größtenteils aus unseren eigenen Futtermitteln selbst herstellen!
                                </div>
            </div>
        </div>
        <!-- <div class="xs12">
                <div class="content">
                        <div class="header-middle no-bottom">Gallery</div> 
                <angular-image-slider [images]="imagesUrl"></angular-image-slider>
        </div>
        </div> -->
</div>
</div>