<div class="overall-body">
                <div class="header-main">Über uns</div>
                <div class="content-middle">
                        <div class="information">
                        {{text.ueber_uns}}</div>
                </div>
<div class="header-main">Unsere Hofbewohner</div>
<div class="content-middle">
    <div class="xs12">
        
        <div class="xs6 green correction">
            <div class="overall-text">
                <div class="header">Hühner</div>
               {{text.huehner}}
        </div>
        </div>
        <div class="xs6 white">
                <div class="animal-image chicken"></div>
            </div>
    </div>
    <div class="xs12">
            <div class="xs6 white">
                <!-- <div class="header-middle">Schweine</div> <br> -->
                <div class="animal-image pig"></div>
            </div>
            <div class="xs6 green">
                        <div class="overall-text">
                                        <div class="header">Schweine</div>
                                        {{text.schweine}}
                                </div>
            </div>
        </div>
        <!-- <div class="xs12">
                <div class="content">
                        <div class="header-middle no-bottom">Gallery</div> 
                <angular-image-slider [images]="imagesUrl"></angular-image-slider>
        </div>
        </div> -->
</div>
</div>