<div class="overall-body">
<div class="body">
    <div class="title">{{ text.ackerbau_titel }}</div>
    <div class="main-text">
           {{text.ackerbau}}
    </div>
    <div class="xs12 media">
        <div class="xs4">
            <div class="card bg1" (mouseenter)="hover1 = true" (mouseleave)="hover1 = false" >
                <div class="hover-text" [class.active]="hover1 === true">
                    <div class="header" >
                        Leguminosen
                    </div>
                    <ul>
                        <li>Kleegras</li>
                        <li>Ackerbohnen</li>
                        <li>Erbsen</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="xs4">
                <div class="card bg2" (mouseenter)="hover2 = true" (mouseleave)="hover2 = false" >
                        <div class="hover-text" [class.active]="hover2 === true">
                                <div class="header" >
                                    Getreide
                                </div>
                                <ul>
                                    <li>
                                            Weizen
                                    </li>
                                    <li>
                                            Gerste
                                    </li>
                                    <li>
                                            Triticale
                                    </li>
                                    <li>
                                        Hafer
                                </li>
                                </ul>
                            </div>
                </div>
            </div>
            <div class="xs4">
                    <div class="card bg3" (mouseenter)="hover3 = true" (mouseleave)="hover3 = false" >
                            <div class="hover-text" [class.active]="hover3 === true">
                                    <div class="header">
                                            Zwischenfrüchte 
                                    </div>
                    
                                </div>
                    </div>
                </div>
    </div>
    <div class="gallery">
    <div id="gallery" class="title">Galerie</div>
    <p-galleria [images]="images" [showCaption]="false"></p-galleria>
</div>
</div>

</div>