@import '../../styles.css';

.overall-body {
    width: 100%;
    height: 120%;
    background: var(--lighter-grey);
}
.body {
    margin: 0 10em 3em 10em;
    color: var(--dark-grey);
    padding: 5em 0;
    padding-top: 3em;
}

.xs12 {
    width: 100%;
    display: flex;
    margin-bottom: 2em;
} 

.xs8 {
    width: 75%;
    display: flex;
}

.xs4 {
    width: 33%;
    display: flex;
    margin: 10px;
}

.xs6 {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.card {
    cursor: pointer;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    background: none;
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: auto auto;
    background-repeat: no-repeat;
    font-family: var(--nav-font);
    font-weight: 300;
}

.title {
    font-family: var(--header-font);
    text-align: center;
    font-size: 48px;
    margin: 0.5em;
    color: black;
}

.main-text {
    font-weight: 300;
    margin: 1em;
    line-height: 2;
    text-align: center;
}

.hover-text {
    margin: 50% 10% 10% 15%;
    width: fit-content;
    font-size: 16px;
    right: 10%;
    opacity: 0;
}

.active {
    opacity: 1 !important;
}

.header {
    font-weight: 700;
    font-size: 24px;
    color: var(--bright-green);
    font-family: var(--header-font);
}
.card:hover {
    background-image: none;
    background: var(--main-green);
}

.bg1 {
    background-image: url('src/assets/images/acker1.jpg');
}

.bg2 {
    background-image: url('src/assets/images/acker2.jpg');
}

.bg3 {
    background-image: url('src/assets/images/acker3.jpg');
}

@media (max-width: 630px) {
    .title {
        font-size: 24px;
    }
    .body {
        margin: 0;
        margin-top: 20%;
        padding-bottom: 1em;
    }

    .xs4 {
        display: block;
        width: 100%;
    }

    .card {
        width: 0;
        border: none;
       visibility: hidden;
       opacity: 0;
       height: 0;
    }

    .xs12 {
        display: block;
        margin: 0.5em;
    }
    .hover-text {
      margin:  20% 10% 10% 15%;
    }
}

