<div class="body">
    <div class="xs12">
        <div class="xs4">
            <div class="card bg1">
                <div class="hover-text" (mouseenter)="hover = true" (mouseleave)="hover = false" [class.active]="hover === true">
                    <div class="header" >
                        Getreide 1
                    </div>
                    Erfahren Sie mehr la asdfljasd asdfjl fasj asdf asdf asdf asdf
                </div>
            </div>
        </div>
        <div class="xs4">
                <div class="card bg2">
                        <div class="hover-text" (mouseenter)="hover = true" (mouseleave)="hover = false" [class.active]="hover === true">
                                <div class="header" >
                                    Getreide 1
                                </div>
                                Erfahren Sie mehr la asdfljasd asdfjl fasj asdf asdf asdf asdf
                            </div>
                </div>
            </div>
            <div class="xs4">
                    <div class="card bg3"></div>
                </div>
    </div>
</div>