<div class="content">
    <div class="first-box">
      <div class="header-text">Schweine.</div>  
    <div class="box bright-box">
            <img class="image-logo" src="../assets/images/gig-image.jpg">
    </div>
    <div class="box dark-box">
       <div class="main-text">
           <div class="header">Unsere liebsten Bewohner</div>
           <div class="subheader">Weil sie so sch?n sind</div>
           <div>asjdlfjaks asdlfjaklsjd asldkfj asdf f sasd asd sdf asdf asdg as g asdgas</div>
       </div>
    </div>
</div>
<div class="first-box">
        <div class="header-text">H?hner.</div>  
      
      <div class="box dark-box">
         <div class="main-text">
             <div class="header">Unsere liebsten Bewohner</div>
             <div class="subheader">Weil sie so sch?n sind</div>
             <div>asjdlfjaks asdlfjaklsjd asldkfj asdf f sasd asd sdf asdf asdg as g asdgas</div>
         </div>
      </div>
      <div class="box bright-box">
            <img class="image-logo" src="../assets/images/chicken-image.jpg">
    </div>
  </div>
</div>