.background {
    background-color: #D2CA8C;
    height: 50vh;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    padding: 0 100px;
    color: white;
}

.header {
    font-size: 24px;
    margin: 10px;
}

.subheader {
    font-size: 16px;
    margin: 10px;
}