@import '../../styles.css';
.background {
    background-color: white;
    height: 50vh;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 200px;
    color: var(--green-gray);
}

.header {
    font-size: 24px;
    margin: 10px;
}

.subheader {
    font-size: 16px;
    margin: 10px;
}