<div class="content">
     
    <div class="first-box">
      <div class="header-text">Schweine.</div>  
    <div class="box bright-box">
            <img class="images" src="../assets/images/gig-image.jpg">
    </div>
    <div class="box dark-box">
        <div class="main-text">
     <div class="header">Lorem ipsum</div>
     <div class="subheader">Lorem ipsum dolor</div>
     <div class="text">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
     </div>
       </div> 
    </div>
    </div>

    <div class="first-box">
            <div class="header-text chicken">H&uuml;hner.</div>  
          
          <div class="box dark-box">
              <div class="main-text">
           <div class="header">Lorem ipsum</div>
           <div class="subheader">Lorem ipsum dolor</div>
           <div class="text">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
           </div>
             </div> 
          </div>
          <div class="box bright-box nooutline">
                <!-- <div class="image-logo"></div>  -->
                <img class="images larger" src="../assets/images/chicken-image.jpg">
        </div>
          </div>

</div>