@import '../../styles.css';

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 200px;
    background: var(--beige);
    color: var(--dark-mint);
    height: 70vh;
    border-top: 2em solid white;
    border-bottom: 2em solid white;
}

.header {
    font-size: 28px;
    margin: 10px;
    color: var(--dark-grey);
    text-transform: uppercase;
}

.subheader {
    font-size: 20px;
    margin: 10px;
    color: white;
}

.text {
    font-size: 18px;
    margin: 10px;
    color: var(--dark-grey);
}