@import '../../styles.css';
.content {
    height: 100%;
    height: 200vh;
    border-bottom: 2em solid white;
    padding: 4em 150px;
}

.first-box {
    padding-top:6em;
    border-top: 1px solid white;
}

.box {
    width: 48%;
    height: 80vh;
    display: inline-flex;
    
}

.dark-box {
    background: var(--main-green);
    border: 2px solid var(--main-green);
}
.bright-box {
    background: var(--main-green);
    background: white;
    border: 2px solid var(--main-green);
    outline: 2px solid white;
}

.textcolor {
    background-image:linear-gradient(90deg,var(--main-green),white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }

.header-text{
    position: absolute;
    font-size: 88px;
    left: 28%;
    vertical-align: middle;
    text-align: center;
    text-decoration: underline;
    color: var(--dark-grey);
    font-family: var(--header-font);
}

.main-text {
    position: absolute;
    margin-top: 15%;
    margin-left: 3%;
    overflow: hidden;
}

.header {
    font-size: 28px;
    color: var(--dark-grey);
    text-transform: uppercase;
    position: relative;
}

.subheader {
    font-size: 20px;
    color: var(--bright-green);
   
    font-family: var(--header-font);
    position: relative;
}

.image-logo {
   width: 400px;
   height: auto;
   padding-top: 15%;
   padding-left: 3%;
   position: absolute;
}