<div id="container">
        <div class="title">
            Kontaktformular
        </div>
        <form action="#" method="post" id="contact_form">
          <div class="name">
            <label for="name"></label>
            <input type="text" placeholder="Name" name="name" id="name_input" required>
          </div>
          <div class="email">
            <label for="email"></label>
            <input type="email" placeholder="E-mail" name="email" id="email_input" required>
          </div>
          <div class="telephone">
            <label for="name"></label>
            <input type="text" placeholder="Telefon" name="telephone" id="telephone_input" required>
          </div>
          <div class="subject">
            <label for="subject"></label>
            <input type="text" placeholder="Betreff" name="topic" id="topic" required>
          </div>
          <div class="message">
            <label for="message"></label>
            <textarea name="message" placeholder="Ihre Nachricht" id="message_input" cols="30" rows="5" required></textarea>
          </div>
          <div class="submit">
            <input type="submit" value="Absenden" id="form_button" />
          </div>
        </form><!-- // End form -->
      </div><!-- // End #container -->