
.icon-mail:before { content: '\e800'; } /* '' */
.icon-xing:before { content: '\f168'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */