.background {
top: 80px;
right: 0;
bottom: 0;
left: 0;
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: center;

}

.image {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    width: auto;
    height: calc(130vh - 72px)
}

.title {
    position: absolute;
    margin-top: -30px;  /* Text hinaufschieben */
  margin-left: 85px;   /* Text horiz. ausrichten */
  font-weight: bold;   /* Text formatieren */
  color: #fff;  
  font-size: 48px;
}