<div class="header-main">Verkauf ab Hof</div>
<div class="content">

        <div class="margin">
                        <mat-card class="example-card">
                                        <mat-card-header>
                                          <mat-card-title class="header">Eierverkauf</mat-card-title>
                                          <mat-card-subtitle>2,99 Euro pro Ei</mat-card-subtitle>
                                        </mat-card-header>
                                        <img class="image" mat-card-image src="../assets/images/eier.jpg" alt="Photo of a Shiba Inu">
                                        <mat-card-content>
                                          <p>
                                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                          </p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                          <button mat-button>LIKE</button>
                                          <button mat-button>SHARE</button>
                                        </mat-card-actions>
                                      </mat-card>
        </div>
        <div class="margin">
                        <mat-card class="example-card">
                                        <mat-card-header>
                                          <mat-card-title class="header">Fleischverkauf</mat-card-title>
                                          <mat-card-subtitle>7,99 Euro pro St&uuml;ck</mat-card-subtitle>
                                        </mat-card-header>
                                        <img class="image" mat-card-image src="../assets/images/eier.jpg" alt="Photo of a Shiba Inu">
                                        <mat-card-content>
                                          <p>
                                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                          </p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                          <button mat-button>LIKE</button>
                                          <button mat-button>SHARE</button>
                                        </mat-card-actions>
                                      </mat-card>
        </div>
        <div></div>
</div>