@import '../../styles.css';
.content {
    border-bottom: 2em solid white;
    padding: 4em 5em;
    display: inline-flex;
}

.overall-body {
    /* background: var(--lighter-grey); */
}

.header {
    font-weight: bold;
    font-size: 32px !important;
    color: var(--dark-grey);
}

.text {
    font-size: 20px;
    color: var(--dark-grey);
    padding: 0 1em;
    margin-top: 0;
    font-weight: 300;
}

.header-main {
    font-family: var(--header-font);
    text-align: center;
    font-size: 48px;
    padding-top: 1em;
}

.example-card {
    max-width: 400px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }

  .margin {
      margin: 20px;
  }

  .image {
      height: 300px;
  }

  .header {
      font-family: var(--header-font);
      font-size: 24px;
  }

  .image-middle-title {
      background: var(--lighter-grey);
    padding: 3em 3em 0 3em;
    height: 280px;
    max-height: 100%;
    background-image: url('src/assets/images/banner.jpg');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.xs12 {
    width: 100%;
    display: flex;
    margin-bottom: 2em;
} 

.xs8 {
    width: 75%;
    display: flex;
}

.xs4 {
    width: 25%;
    display: flex;
}

.xs6 {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    display: inline;
}

.image-middle {
    width: 100%;
    height: 100%;
    background-image: url('src/assets/images/24hours.jpg');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

@media (max-width: 630px) {

    .image-middle-title {
        visibility: hidden;
        height: 50px;
    }
    .header-maim {
        font-size: 24px;
    }
    .content {
        padding: 0;
    }

    .xs12{
        display: block;
        padding: 15px;
    }

    .text {
        margin: 5px;
    }
}