<div class="overall-body">
    <div class="image-middle-title"></div>
<div class="header-main">Verkauf ab Hof</div>
<div class="content">
  <div class="xs12">
    <div class="xs6">
      <img style="width: 85%" src="../assets/images/24hours.jpg">
    </div>
    <div class="xs6 text">
    <div class="header">24 Stunden Verkauf</div>
    Vorne an unserer Hofeinfahrt befindet sich ein kleines Verkaufsh&auml;uschen, in welchem sie t&auml;glich die frisch gelegten Eier aus unserem H&uuml;hnermobil kaufen k&ouml;nnen. Unsere Verkaufsh&uuml;tte ist rund um die Uhr ge&ouml;ffnet!
  </div>
        <div></div>
      </div>
</div>


</div>