.main {
    margin-top: 76px;
    height: 1500px;
}

.picture {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;

filter: opacity(75%)
}

.bg1 {
  
    background-image: url(../../assets/images/20180501_172145.jpg);
}

.bg2 {
    background-image: url(../../assets/images/20180504_163920.jpg);
}

.text {
    height: 500px;
}

* {
    font-family: 'Open Sans', sans-serif;}

    @media (max-width: 630px) {
    .picture {
          visibility: hidden;
          width: 0;
          height: 0;
    }
    }