<div class="content">
<div style='width:400px'>
    <iframe width="200" height="" src="https://maps.google.de/maps?hl=de&q=Biolandhof+Schmidt%20%20Langefeld+4%20Paderborn&t=&z=10&ie=utf8&iwloc=b&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style='height:400px;width:100%;'></iframe>
</div>
<div class="text">
<div class="header">
    So erreichen Sie uns
</div>
<br>
<div class="subheader">
    Adresse
</div>
Biolandhof Schmidt <br>
Langefeld 4 <br>
Dahl 
<br>
<div class="subheader">
        <br>
        Telefon
    </div>
    05293 1419
</div>

</div>
<div class="impressum">
    <div class="content-text">
        <div class="title">Impressum coming soon...</div><br>
        <a href="http://www.freepik.com">Designed by Frimufilms / Freepik</a>
        <br>
        <a href="https://de.freepik.com/fotos-vektoren-kostenlos/natur">Natur Foto erstellt von freepik - de.freepik.com</a>
        <br>
        <a href="https://llh.hessen.de/umwelt/klimaschutz/zwischenfruchtanbau-ein-wichtiger-beitrag-zum-klimaschutz/">Bilder Zwischenfruchtmischung</a>
        <br>
    </div>
</div>