@import '../../styles.css';
.content {
    padding: 200px 200px 0 200px;
    max-height: 500px;
}

.content-text {
    padding: 2em;
    font-size: 12px;
}


.text {
    display:inline;
    position: relative;
    left: 500px;
    bottom: 300px;
}

.header {
    font-size: 24px;
    color: var(--dark-grey);
    text-transform: uppercase;
}
.title {
    font-size: 28px;
    color: var(--dark-grey);
    display: inline;
    padding: 5em;
}

.banner {
    width: 100%;
    height: auto;
}

.subheader {
    font-size: 20px;
    color: var(--main-green);
}

.impressum {
    width: 100%;
    height: 200px;
    background: var(--lighter-grey);
    margin-bottom: 2em;
    text-align: center;
    cursor: pointer;
  
}

.iframe {
    height:400px;width:100%;
}

.frame {
width:400px;
}

@media (max-width: 630px) {
    .content {
        padding: 15px;
    }

    .title {
        font-size: 16px;
    }

    .iframe {
        width: 100%;
    }

    .frame {
        width: 100%;
    }
}