@import '../../styles.css';
.content {
    padding: 100px;
    max-height: 1000px;
}

.content-text {
    padding: 2em;
    font-size: 12px;
}


.text {
    display:inline;
    position: relative;
    left: 500px;
    bottom: 300px;
}

.header {
    font-size: 24px;
    color: var(--dark-grey);
    text-transform: uppercase;
}
.title {
    font-size: 24px;
    color: var(--dark-grey);
    text-decoration: none;
}

.banner {
    width: 100%;
    height: auto;
}

.subheader {
    font-size: 20px;
    color: var(--main-green);
}

.xs12 {
    width: 100%;
    display: flex;
} 

.xs4 {
    width: 33%;
    display: block;
} 

.impressum {
    height: 200px;
    background: var(--lighter-grey);
    margin-bottom: 2em;
    padding: 3em 20em 0 20em;
}

.iframe {
    height:400px;width:100%;
}

.frame {
width: 100%
}

@media (max-width: 630px) {
    .content {
        padding: 15px;
    }

    .title {
        font-size: 16px;
    }

    .iframe {
        width: 100%;
    }

    .frame {
        width: 100%;
    }
}