<div style="margin-left: -8px; margin-right: -8px; overflow-x: hidden">
<app-navigation></app-navigation>
      <app-start id="start"></app-start>
       <app-history id="history"></app-history> 
       <!-- <app-pigs></app-pigs> -->
  
       <div class="picture bg1">
          <div class="text"></div>
       </div>
      <!-- <app-products></app-products>
      <app-contact></app-contact>
        -->
       
      <app-chickens id="animal"></app-chickens> 
     
      <div class="picture bg2">
            <div class="text"></div>
         </div>
         <!-- <app-farming id="farming"></app-farming> -->
         <app-contact id="contact"></app-contact>
         <app-map id="map"></app-map>
  
      </div>