.main {
        margin-top: 76px;
        height: 1500px;
    }

.picture {
        width: 1480px;
        height: auto;
        overflow: hidden;
        background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/images/IMG_4480.JPG);
  filter: opacity(75%)
}

.text {
        height: 400px;
}

* {
        font-family: 'Raleway', sans-serif;}