<div style="margin:-8px; overflow-x: hidden">
<app-navigation></app-navigation>
<app-products></app-products>
<!-- <app-farming id="gallery"></app-farming> -->
<app-chickens id="animal"></app-chickens> 
 
<div class="picture bg1">
      <div class="text"></div>
   </div>
<app-contact id="contact"></app-contact>

      <!-- <app-start id="start"></app-start> -->
       <!-- <app-history id="history"></app-history> 
      <app-pigs></app-pigs> -->
<!--   
       <div class="picture bg1">
          <div class="text"></div>
       </div> -->
      
      <app-contact></app-contact>
        -->
<!--        
     
     
      <div class="picture bg2">
            <div class="text"></div>
         </div>
         <app-farming id="gallery"></app-farming>
        
         <app-map id="map"></app-map> -->
  
      </div>