@import '../../styles.css';
.navigation-bar {
    background-color: #fff;
    color: black;
    height: 70px;
    position: fixed;
    top:0;
    width: 100%;
    left: 0;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.25);
}

.nav-bar-list {
    display: inline;
    margin: 0 1.5em;
    /* color: var(--dark-grey); */
    cursor: pointer;
    border-bottom: 2px solid rgba(132, 172, 76, 0);
    font-weight: 300;
    -webkit-transition: border 500ms ease;
    -moz-transition: border 500ms ease;
    -ms-transition: border 500ms ease;
    -o-transition: border 500ms ease;
    transition: border 500ms ease;
    font-size: 24px;
    font-family: var(--header-font);
}

/* .active {
    border-bottom: 2px solid rgba(132, 172, 76, 1);
} */

.nav-bar-list:hover {
    border-bottom: 2px solid rgba(132, 172, 76, 1);
}

.nav-bar-ul {
    justify-content: center;
    display: flex;
}

.title {
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}

.image {
    height: 50px; width: auto; float: left; margin-left: 20px; margin-top: 10px;
}

.bioland {
   
    width: 70px; height: 70px;
}



.header-middle {
    text-align: center;
    margin: 1em;
    display: block;
}

.header-text {
    font-family: var(--header-font);
    font-size: 32px;
}

.subheader-middle {
    text-align: center;
    margin-top: 1em;
    font-family: var(--nav-font);
    font-weight: 300;
}

.image-middle-title {
    margin: 4em 3em 4em 3em;
    border-radius: 4px;
    height: 500px;
    max-height: 100%;
    background-image: url('src/assets/images/4474.jpg');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.icons-left {
    position: absolute;
    left: 3em;
    top: 1em;
    font-size: 24px;
}

.icons-right {
    position: absolute;
    right: 3em;
    top: 1em;
    

}

.subtitle {
    color: black; 
    margin: 1em;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--nav-font);
    top: 20em;
    left: 2em;
    position: relative;
    opacity: 0;
    width: fit-content;
    border: 1px solid transparent ;
    padding: 2em;
    border-radius: 4px;
}


.active {
    opacity: 1;
}

.image-middle-banner {
    margin: 3em 3em;
    border-radius: 4px;
    height: 300px;
    max-height: 100%;
    background-image: url('src/assets/images/4474.jpg');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.line {
    margin: 5em 4em 2em 4em;
    color: lightgray;
}

.header-main {
    font-family: var(--header-font);
    text-align: center;
    font-size: 48px;
    margin: 1.5em;
    color: var(--main-dark-green);
}



.header-line {
    width: 100%;
    height: 30px;
    background: black;
}

.content-middle {
    margin: 2em 10em 7em 10em;
}

.xs12 {
    width: 100%;
    display: flex;
    margin-bottom: 2em;
} 

.xs8 {
    width: 75%;
    display: flex;
}

.xs4 {
    width: 25%;
    display: flex;
}

.xs6 {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.animal-image {
    border-radius: 4px;
    min-height: 300px;
    /* min-width: 300px; */
    min-width: 60%;
    max-width: 100%;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.no-bottom {
    margin-bottom: 0;
}

.pig {
    background-image: url('src/assets/images/gig-image.png');
}

.chicken {
    background-image: url('src/assets/images/chicken-image.jpg');
}

.header-block {
    font-family: var(--nav-font);
    font-weight: 300;
    font-size: 32px;
   border-bottom: 2px solid var(--main-green);
   margin: 1em;
}

.background-div {
    width: 100%;
    height: 400px;
    background: var(--main-green);
}

.clipped-title2 {
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
background-color: #EC173A;
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    cursor: pointer;
   
    
}


@media(max-width: 630px) {

    .nav-bar-list {
        font-size: 14px;
    }

    .image-middle-title {
        margin: 1em 1em;
        border-radius: 4px;
        height: 200px;
        background-image: url('src/assets/images/4474.jpg');
        background-position: center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .bioland {
        opacity: 0;
    }

    .icons-right {
        position: absolute;
        right: 2em;
        top: 2em;

    }
    .image {
        height: 40px;
        position: absolute;
        right: 10px;
        top: 20px;
    }

    .icons-left {
        opacity: 0;
    }

    .nav-bar-ul {
        position: relative;
         
        }
    .nav-bar-list {
        display: inline;
        margin: 0 0.8em;
        /* color: var(--dark-grey); */
        cursor: pointer;
        border-bottom: 2px solid rgba(210, 202, 140, 0);
        
        -webkit-transition: border 500ms ease;
        -moz-transition: border 500ms ease;
        -ms-transition: border 500ms ease;
        -o-transition: border 500ms ease;
        transition: border 500ms ease;
    }
}