

<div class="header">
   
  
<div class="header-middle">
        <div class="icons-left">
            <a href="https://www.google.com/maps/contrib/105420559675469461624/photos" style="text-decoration: none; color: black">
                <i class="icon-google"></i>
            </a>
    
        </div>
        <div class="icons-right">
            <img class="bioland" src="../assets/images/bioland.jpg">
        </div>
    <div class="header-text">
        <img style="width: 150px" src="../assets/images/logo.jpg"> <br>
    </div>
</div>

</div>
<div class="subheader-middle">
    <li class="nav-bar-list" (click)="scroll('hofbewohner')">Hofbewohner</li>
    <li class="nav-bar-list" (click)="scroll('ackerbau')">Ackerbau</li>
    <li class="nav-bar-list" (click)="scroll('verkauf')">Verkauf</li>
  
        <li class="nav-bar-list" (click)="scroll('map')">Kontakt</li>
</div>
<div class="image-middle-title" (mouseenter)="hover = true" (mouseleave)="hover = false">
 
</div>

