<!-- <div class="navigation-bar">
 <ul class="nav-bar-ul" id="nav-bar">
        <li class="nav-bar-list" (click)="scroll('history')">Hofbewohner</li>
        <li class="nav-bar-list" (click)="scroll('animal')">Verkauf</li>
        <li class="nav-bar-list" (click)="scroll('gallery')">Galerie</li>
        <li class="nav-bar-list">Produkte</li> -->
        <!-- <li class="nav-bar-list" (click)="scroll('contact')">Kontakt</li>
        <li class="nav-bar-list" (click)="scroll('map')">Karte</li>
    </ul> -->
    <!-- <img src="../assets/images/logo.jpg" class="image">
</div>  -->

<div class="header">
   
  
<div class="header-middle">
        <div class="icons-left">
            <a href="https://www.google.com/maps/contrib/105420559675469461624/photos" style="text-decoration: none; color: black">
                <i class="icon-google"></i>
            </a>
                <!-- <i class="icon-facebook-squared"></i>
                <i class="icon-linkedin-squared"></i>
                <i class="icon-xing"></i>            -->
        </div>
        <div class="icons-right">
            <img class="bioland" src="../assets/images/bioland.jpg">
        </div>
    <div class="header-text">
        Biolandhof Schmidt</div>
</div>

</div>
<div class="subheader-middle">
    <li class="nav-bar-list" (click)="scroll('hofbewohner')">Hofbewohner</li>
    <li class="nav-bar-list" (click)="scroll('ackerbau')">Ackerbau</li>
    <li class="nav-bar-list" (click)="scroll('verkauf')">Verkauf</li>
    <!-- <li class="nav-bar-list" (click)="scroll('contact')">Kontakt</li> -->
        <li class="nav-bar-list" (click)="scroll('map')">Karte</li>
</div>
<div class="image-middle-title" (mouseenter)="hover = true" (mouseleave)="hover = false">
    <!-- <div class="subtitle" [class.active]="hover === true">
       {{text.subtitle}}
    </div> -->
</div>

<!-- <div class="header-main">&Uuml;ber uns</div> -->