<!-- <div class="navigation-bar">
 <ul class="nav-bar-ul" id="nav-bar">
        <li class="nav-bar-list" (click)="scroll('history')">Hofbewohner</li>
        <li class="nav-bar-list" (click)="scroll('animal')">Verkauf</li>
        <li class="nav-bar-list" (click)="scroll('gallery')">Galerie</li>
        <li class="nav-bar-list">Produkte</li> -->
        <!-- <li class="nav-bar-list" (click)="scroll('contact')">Kontakt</li>
        <li class="nav-bar-list" (click)="scroll('map')">Karte</li>
    </ul> -->
    <!-- <img src="../assets/images/logo.jpg" class="image">
</div>  -->

<div class="header-middle">Biolandhof Schmidt</div>
<div class="subheader-middle">
    <li class="nav-bar-list" (click)="scroll('history')">Hofbewohner</li>
    <li class="nav-bar-list" (click)="scroll('animal')">Verkauf</li>
    <li class="nav-bar-list" (click)="scroll('gallery')">Galerie</li>
    <li class="nav-bar-list" (click)="scroll('contact')">Kontakt</li>
        <li class="nav-bar-list" (click)="scroll('map')">Karte</li>
</div>
<div class="image-middle">
</div>
<div class="header-main">Unsere Hofbewohner</div>
<div class="content-middle">
    <div class="xs12">
        
        <div class="xs6">
            <div class="overall-text">
               <div class="header-block">Huehner</div> 
               <div class="text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
        </div>
        </div>
        <div class="xs6">
                <div class="animal-image chicken"></div>
            </div>
    </div>
    <div class="xs12">
            <div class="xs6">
                <!-- <div class="header-middle">Schweine</div> <br> -->
                <div class="animal-image pig"></div>
            </div>
            <div class="xs6">
                    <div class="overall-text">
                            <div class="header-block">Schweine</div> 
                            <div class="text">
                             Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                         </div>
                     </div>
            </div>
        </div>
</div>
<!-- <div class="header-main">&Uuml;ber uns</div> -->